jupyter==1.0.0
nb_black==1.0.7
numpy==1.21.1
pandas==1.3.1
scikit-learn==0.24.2
statsmodels==0.12.2
lightgbm==3.2.1
matplotlib==3.4.3
altair==4.1.0
azure-storage-blob==12.8.1
fastparquet==0.7.0
pyarrow==5.0.0
