jupyter==1.0.0
nb_black==1.0.7
numpy==1.21.2
pandas==1.3.3
scikit-learn==1.0
statsmodels==0.13.1
lightgbm==3.2.1
matplotlib==3.4.3
altair==4.1.0
azure-storage-blob==12.9.0
fastparquet==0.7.0
pyarrow==5.0.0
